# 第2章: UNIXコマンドの基礎
hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [16]:
cnt = sum([1 for i in open('hightemp.txt','r')])
print(cnt)

24

```bash
$ wc -l hightemp.txt
      24 hightemp.txt
```

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [17]:
with open('hightemp.txt') as f:
    t = f.read().replace('\t','　')
    print(t)

高知県　江川崎　41　2013-08-12
埼玉県　熊谷　40.9　2007-08-16
岐阜県　多治見　40.9　2007-08-16
山形県　山形　40.8　1933-07-25
山梨県　甲府　40.7　2013-08-10
和歌山県　かつらぎ　40.6　1994-08-08
静岡県　天竜　40.6　1994-08-04
山梨県　勝沼　40.5　2013-08-10
埼玉県　越谷　40.4　2007-08-16
群馬県　館林　40.3　2007-08-16
群馬県　上里見　40.3　1998-07-04
愛知県　愛西　40.3　1994-08-05
千葉県　牛久　40.2　2004-07-20
静岡県　佐久間　40.2　2001-07-24
愛媛県　宇和島　40.2　1927-07-22
山形県　酒田　40.1　1978-08-03
岐阜県　美濃　40　2007-08-16
群馬県　前橋　40　2001-07-24
千葉県　茂原　39.9　2013-08-11
埼玉県　鳩山　39.9　1997-07-05
大阪府　豊中　39.9　1994-08-08
山梨県　大月　39.9　1990-07-19
山形県　鶴岡　39.9　1978-08-03
愛知県　名古屋　39.9　1942-08-02

unixのsedタブ変換しんどい...
[参考](http://mattintosh.hatenablog.com/entry/2013/01/16/143323)

```bash
$ sed s/"`printf '\t'`"/\ /g hightemp.txt
$ tr '\t' ' ' < hightemp.txt
$ expand -t 1 highttemp.txt
高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02
```

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [25]:
def write(txt, file):
    with open(file, mode='a') as f:
        f.write(txt + '\n')

with open('hightemp.txt') as f:
    for l in f:
        write(l.split()[0],'col1.txt')
        write(l.split()[1],'col2.txt')

```bash
$ cut -f 1 -d "`printf '\t'`" hightemp.txt >col1.txt
$ cut -f 2 -d "`printf '\t'`" hightemp.txt >col2.txt
```

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [30]:
def write(txt, file):
    with open(file, mode='a') as f:
        f.write(txt + '\n')

with open('col1.txt') as col1:
    list1 = col1.readlines()

with open('col2.txt') as col2:
    list2 = col2.readlines()

for (c1, c2) in zip(list1, list2):
    write('\t'.join([c1.replace('\n',''), c2.replace('\n','')]),'col3.txt')

```bash
$ paste col1.txt col2.txt >col3.txt
```

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [3]:
N = int(input())

with open('hightemp.txt') as f:
    for i, l in enumerate(f):
        if i >= N:
            break
        print(l, end='')

10
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16

```bash
$ head -n10 hightemp.txt
```

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [5]:
N = int(input())

row = sum([1 for i in open('hightemp.txt', 'r')])

if N > row:
    raise ValueError("input number must be smaller than " + str(row))

with open('hightemp.txt') as f:
    for i, l in enumerate(f):
        if i >= row - N:
            print(l, end='')

10
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

```bash
$ tail -n10 hightemp.txt
```

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [12]:
N = int(input())

row = sum([1 for x in open('hightemp.txt')])/N

with open('hightemp.txt') as f:
    prev = 0
    for i, l in enumerate(f):
        if int(i / row) != prev:
            if i / row < N:
                print()
            prev = int(i / row)
        print(l, end='')

10
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10

埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16

群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05

千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22

山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16

群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05

大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

```bash
$ split -n l/1/10 hightemp.txt
```

OSXの場合は `brew install coreutils` して `gsplit`

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [21]:
s = set()

with open('hightemp.txt','r') as f:
    for l in f:
        s.add(l.split()[0])
print(s)

{'埼玉県', '山梨県', '千葉県', '愛媛県', '群馬県', '山形県', '大阪府', '高知県', '和歌山県', '愛知県', '静岡県', '岐阜県'}

```bash
$ cut -f 1 -d \t hightemp.txt | sort | uniq
```

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [20]:
rows = []
temp = []

with open('hightemp.txt', 'r') as f:
    for l in f:
        d = l.replace('\n','')
        rows.append(d)
        temp.append(float(d.split()[2]))

tr = zip(temp, rows)
tr = sorted(tr)
temp, rows = zip(*tr)

for row in rows:
    print(row)

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
愛知県	名古屋	39.9	1942-08-02
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
山形県	酒田	40.1	1978-08-03
千葉県	牛久	40.2	2004-07-20
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

```bash
$ sort -n -k 3 hightemp.txt
```

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [25]:
dict = {}
with open('hightemp.txt') as f:
    for l in f:
        str = l.split()[0]
        if str in dict:
            dict[str] += 1
        else:
            dict[str] = 1

for k, v in sorted(dict.items(), key=lambda x: -x[1]):
    print(k)

埼玉県
山形県
山梨県
群馬県
岐阜県
静岡県
愛知県
千葉県
高知県
和歌山県
愛媛県
大阪府

```bash
$ cut -f 1 hightemp.txt | sort | uniq -c | sort -r
```